# Dependencias
node_modules/

# Builds
dist/
build/

# Variables de entorno
.env
backend/.env
frontend/.env

# Base de datos local
database.sqlite
*.sqlite
*.sqlite-shm
*.sqlite-wal
backend/database.sqlite
backend/*.sqlite
backend/*.sqlite-shm
backend/*.sqlite-wal

# IDE
.idea/

# Sistema
.DS_Store
Thumbs.db